{% extends 'home/home.html' %}
{% block content %}
{% if message %}
	<div class="alert alert-info" role="alert">
	  {{message}}
	</div>
{% endif %}
{% if non_admin %}
		<div class="container">
			{% if verified %}
			{% else %}
				<div class="alert alert-danger" role="alert">
				<h6 style="color:yellow"><b>The Account is currently being verified by the Admin.
					In case of urgency, contact the Admin.<br><span style="color:black">Thank You for your co-operation!</span></b></h6>
				</div>
			{% endif %}
		</div>
{% endif %}
	<div class="container"><br>
		<div class="jumbotron">
			<form action="/freeze/{{email}}" method="post">
				{% csrf_token %}
				<div class="form-group">
				    <a href="/freeze/{{email}}"><button class="btn btn-primary btn-block btn-danger" type="submit" onclick="return confirm('Deactivating the profile would restrict you from logging into the portal!')">Deactivate Profile</button></a>
				</div> <!-- form-group// -->
			</form>
			<br>
			<b><u>BIO: </u></b>
			<br><b>NAME: </b>{{name}}
			<br><b>EMAIL: </b>{{email}}<br>
			<b>PHONE: </b>{{phone}}<br>
			<b>User Type: </b>{{user_type}}<br>
			<br><br>
			<div class="row center">
				<div class="col-md-6">
					<div class="card">
						<header class="card-header">
							<h4 class="card-title mt-2"><b>Update Password</b></h4>
						</header>
						<article class="card-body">
							<form action="{% url 'updatepassword' %}" method="post">
								{% csrf_token %}
								<div class="form-group">
									<label>Current Password</label>
									<input type="password" class="form-control" placeholder="Enter Current Password" name="current_password">
								</div> <!-- form-group end.// -->
								<div class="form-group">
									<label>New Password</label>
								    <input class="form-control" type="password" name="new_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter New Password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
								</div> <!-- form-group end.// -->
								<div class="form-group">
									<label>Confirm New Password</label>
								    <input class="form-control" type="password" name="confirm_password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Re-Enter the New Password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
								</div> <!-- form-group end.// -->
								<div class="form-group">
								    <button type="submit" class="btn btn-primary btn-block"> Update  </button>
								</div> <!-- form-group// -->
							</form>
						</article> <!-- card-body end .// -->
					</div> <!-- col.//-->
				</div> <!-- row.//-->
			</div>
		</div>
	</div>
{% endblock %}
