{% extends 'home/base.html' %}
{% block content %}
{% if message %}
	<div class="alert alert-info" role="alert">
	  {{message}} 
	</div>
{% endif %}
<br><br><br>
<div class="container"> 
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><b>Subject: </b>{{msg.subject}}</h5>
      <p class="card-text">{{msg.body | safe}}</p>
    </div>
    <div class="card-footer">Sent to {{msg.receiver}} on {{msg.timestamp}}</div>
  </div>
  <a href="/simchat/out/reply/{{msg.id}}/" class="btn btn-secondary"><i class="fa fa-reply" aria-hidden="true"></i> Reply</button></a>
  <a href="/simchat/deleteoutbox/{{msg.id}}"><button type="submit" class="btn btn btn-secondary"><i class="fa fa-trash" aria-hidden="true"> Delete</i>
</div>
{% endblock %}