{% extends 'home/base.html' %}
{% block content %}

{% if messages %}
  <div class="alert alert-info" role="alert">
    {{messages}} 
  </div>
  {% endif %}
  <div class="container">
 
 <p style="color:red;text-align: center;">
  <b>
  PENDING REQUEST

  </b>
 
</p>
 {%for key,value in item_quant.items %}
<p style="background-color:lightgreen;font-size: 20px;color: red">
  
  
  The Total quantity requested for <b>{{ key }}</b></h4> is <b>{{value}}</b></h4>
  

</p>
 {% endfor %}
  
   <div class="row" style="padding-top: 20px;" >
   
  {% for content in all_products %}
          <div class="col-md-3" style="margin-right: 10px;">

            
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <h3 class="profile-username text-center" style="color:brown"><b>{{content.product_name}}</b></h3>
                

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Request id </b> <a class="float-right">{{content.email}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Quantity</b> <a class="float-right">{{content.quantity}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Date</b> <a class="float-right">{{content.timestamp}}</a>
                  </li>
                  
                  <li class="list-group-item">
                    <b>status</b> <a class="float-right">{{content.status}}</a>
                  </li>
                </ul>

                <a href="/product/productconfirm/{{content.id}},{{content.quantity}}" type="submit" class="btn btn-link btn-block" ><b>Approve product</b></a>
                <p style="text-align: center;">OR</p>
                <form action="/product/partialconfirm/{{content.id}}" method="get" >
                  
                  <div class="form-group">
                  <input type="number" class="form-control" placeholder="Enter the desired quantity" name="quant" required="">
                  </div>
                  <div class="form-group">
                <button type="submit" class="btn btn-link btn-block"><b> Approve Partial </b></button>
            </div>
          </form>
              </div>
              <!-- /.card-body -->
            </div>
          
 
 </div>
 {% endfor %} 
 <div class="row" style="position:fixed;margin-left:830px ">
        <div class="card" style="margin-left: 10px;margin-bottom: auto;">
      <div class="card-header">
                <h3 class="card-title" style="color:blue"><b>Products Already Present</b></h3>
              </div>
 <div class="card-body p-2">
                <table class="table">
                  <thead>
                    <tr>
                     
                      <th>Product</th>
                      <th>Quantity</th>
                     </tr>
                  </thead>
                  <tbody>
                    {% for data in prodnew %}
                    <tr>
                     <td>{{data.product_name}}</td>
                     <td>{{data.available_quantity}}</td> 
                    </tr>
                    {% endfor %}
                    
                    
                  </tbody>
                </table>
              </div>
          </div>
 </div>
 
 </div>      
 <p style="color:green;text-align: center;">
  <b>
  APPROVED REQUEST
  </b>
</p>
  <br>
  <div class="row">
 {% for content in data2 %}
          <div class="col-md-3" style="margin-right: 10px;">

            
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <h3 class="profile-username text-center" style="color:brown"><b>{{content.product_name}}</b></h3>
                

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>Request id</b> <a class="float-right">{{content.email}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Quantity</b> <a class="float-right">{{content.quantity}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>Date</b> <a class="float-right">{{content.timestamp}}</a>
                  </li>
                  <li class="list-group-item">
                    <b>status</b> <a class="float-right">{{content.status}}</a>
                  </li>
                </ul>

              
              </div>
              <!-- /.card-body -->
            </div>
          </div>
 {% endfor %} 
       
        </div>
 
      </div>

        {% endblock %}