{% extends 'home/base.html' %}
{% block content %}
{% if message %}
  <div class="alert alert-info" role="alert">
    {{message}}
  </div>
  {% endif %}


{% if admin %}
{% if verified %}

<br><br><div class="" style="padding-left: 2%;padding-right: 10%">
	<div class="">
		<div class="row">
			<div class="col-md-5">
				<form action="{% url 'add_measure' %}" method="post">
					{% csrf_token %}
					<div class="form-row">
						<div class="col form-group">
						  	<input type="text" class="form-control" maxlength="15" placeholder="Add measurement unit" name="measure"  required="">
						</div> <!-- form-group end.// -->
						<div class="col form-group">
						  	<button type="submit" class="btn btn-primary btn-block">Add</button>
						</div> <!-- form-group end.// -->
					</div> <!-- form-row end.// -->
				</form>
			</div>
			<div div class="col-md-5" style="margin-left: 10%">
					<form action="{%url 'add_category' %}" method="post">
					{% csrf_token %}
					<div class="form-row">
						<div class="col form-group">
						  	<input type="text" class="form-control" maxlength="15" placeholder="Add Product Category" name="category"  required="">
						</div> <!-- form-group end.// -->
						<div class="col form-group">
						  	<button type="submit" class="btn btn-primary btn-block">Add</button>
						</div> <!-- form-group end.// -->
					</div> <!-- form-row end.// -->
				</form>
		</div> <!-- row.//-->
	</div>
	<!--container end.//-->



	<div class='col-md-10'>
	<table class="table table-bordered"style="width: 30%; float: left;margin-top: 5%">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">Measurement-Unit</th>
				<th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	 {%for data in nondel_measure%}
	      <tr>
					<th scope="row" style="color:green;font-weight:normal;">{{data}}</th>
						      </tr>
	    {% endfor %}
	   {%for data in measurement%}
	      <tr>
					<th scope="row" style="color:green;font-weight:normal;">{{data}}</th>
					<th scope="row" style="font-weight:normal;"><a href="/product/del_unit/{{data}}"><button type="submit" class="btn btn-sm btn-danger">Remove</button></a></th>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>
<div class='col-md-10'>
	<table class="table table-bordered"style="width: 30%;float: right;margin-right: 6%;margin-top: 5%">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">Product-Category</th>
				<th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{%for data in nondel_category%}
	      <tr>
					<th scope="row" style="color:green">{{data}}</th>
						      </tr>
	    {% endfor %}
	   {%for data in categories%}
	      <tr>
					<th scope="row" style="color:green;font-weight:normal">{{data}}</th>
					<th scope="row" style="font-weight:normal;"><a href="/product/del_category/{{data}}"><button type="submit" class="btn btn-sm btn-danger">Remove</button></a></th>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>

</div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
		<h6 style="color:yellow"><b>The Account is currently being verified by the Admin.
			In case of urgency, contact the Admin.<br><span style="color:black">Thank You for your co-operation!</span></b></h6>
		</div>



   	{% endif %}
   	{% endif %}
{% if dealing_admin %}
{% if verified %}
<br><br><div class="" style="padding-left: 2%;padding-right: 10%">
	<div class="">
		<div class="row">
			<div class="col-md-5">
				<form action="{% url 'add_measure' %}" method="post">
					{% csrf_token %}
					<div class="form-row">
						<div class="col form-group">
						  	<input type="text" class="form-control" maxlength="15" placeholder="Add measurement unit" name="measure"  required="">
						</div> <!-- form-group end.// -->
						<div class="col form-group">
						  	<button type="submit" class="btn btn-primary btn-block">Add</button>
						</div> <!-- form-group end.// -->
					</div> <!-- form-row end.// -->
				</form>
			</div>
			<div div class="col-md-5" style="margin-left: 10%">
					<form action="{%url 'add_category' %}" method="post">
					{% csrf_token %}
					<div class="form-row">
						<div class="col form-group">
						  	<input type="text" class="form-control" maxlength="15" placeholder="Add Product Category" name="category"  required="">
						</div> <!-- form-group end.// -->
						<div class="col form-group">
						  	<button type="submit" class="btn btn-primary btn-block">Add</button>
						</div> <!-- form-group end.// -->
					</div> <!-- form-row end.// -->
				</form>
		</div> <!-- row.//-->
	</div>
	<!--container end.//-->



	<div class='col-md-10'>
	<table class="table table-bordered"style="width: 30%; float: left;margin-top: 5%">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">Measurement-Unit</th>
				<th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	 {%for data in nondel_measure%}
	      <tr>
					<th scope="row" style="color:green;font-weight:normal;">{{data}}</th>
						      </tr>
	    {% endfor %}
	   {%for data in measurement%}
	      <tr>
					<th scope="row" style="color:green;font-weight:normal;">{{data}}</th>
					<th scope="row" style="font-weight:normal;"><a href="/product/del_unit/{{data}}"><button type="submit" class="btn btn-sm btn-danger">Remove</button></a></th>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>
<div class='col-md-10'>
	<table class="table table-bordered"style="width: 30%;float: right;margin-right: 6%;margin-top: 5%">
	  <thead class="thead-normal">
	    <tr>
	      <th scope="col">Product-Category</th>
				<th scope="col">Delete</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{%for data in nondel_category%}
	      <tr>
					<th scope="row" style="color:green;font-weight:normal;">{{data}}</th>
						      </tr>
	    {% endfor %}
	   {%for data in categories%}
	      <tr>
					<th scope="row" style="color:green;font-weight:normal;">{{data}}</th>
					<th scope="row" style="font-weight:normal;"><a href="/product/del_category/{{data}}"><button type="submit" class="btn btn-sm btn-danger">Remove</button></a></th>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
</div>

</div>
</div>

{% else %}
<div class="alert alert-danger" role="alert">
		<h6 style="color:yellow"><b>The Account is currently being verified by the Admin.
			In case of urgency, contact the Admin.<br><span style="color:black">Thank You for your co-operation!</span></b></h6>
		</div>



   	{% endif %}
   	{% endif %}
	{% endblock %}
