{% extends 'home/base.html' %}
{% block content %}
{% if message %}
	<div class="alert alert-info" role="alert">
	  {{message}} 
	</div>
{% endif %}
{% if admin %}
{% if verified %}
<div class="container">
	<br>
	<div class="row" style="margin-left: 20%;margin-right: 20%">
		<div class="col-md-8">
			<div class="card" >
			<header class="card-header">
				<h4 class="card-title mt-2">EDIT PRODUCT</h4>
			</header>
			<article class="card-body">
				<form action="/product/routeproduct/" method="post">
					{% csrf_token %}
					{%for data in all_products %}
					<div class="form-group">
						  
						  <label>Product To edit</label>
						 	<input type="text" class="form-control" placeholder="{{data.product_name}}" name="product_list"  value="{{data.product_name}}" readonly>
						</div>
					<div class="form-row">
						
					</div><!-- form-row end.// -->
					<div class="form-row">
						<div class="form-group col-md-6">
						  <label>Product Category</label>
						  <select id="inputState" class="form-control" name="product_category" required="">
						  	 <option selected>{{data.product_category}}</option>
						    {% for items in all_category%}
						    <option>{{items.product_category}}</option>
						    {% endfor %}
						  </select>
						</div> <!-- form-group end.// -->
						<div class="form-group col-md-6">
						  <label>Product Type</label>
						  <select id="inputState" class="form-control" name="product_type" required="">
						  	 <option selected>{{data.product_type}}</option>
						      <option>consumable</option>
						      <option>non-consumable</option>
						     
						  </select>
						</div> <!-- form-group end.// -->
					 </div>
					<div class="form-group">
						<label>Available quantity</label>
						<input type="number" class="form-control" placeholder="{{data.available_quantity}}" value="{{data.available_quantity}}" name="avail_quantity" required="">
					</div> <!-- form-group end.// -->
					<div class="form-group">
						  <label>Measurement Unit</label>
						  <select id="inputState" class="form-control" name="measure_unit" required="">
						  	 <option selected>{{data.measure_unit}}</option>
						      {% for items in all_units %}
						    <option>{{items.measure_unit}}</option>
						    {% endfor %}
						  </select>
						</div>
						 <!-- form-group end.// -->	
								
					 
				    <div class="form-group">
				        <button type="submit" class="btn btn-primary btn-block"> Make Changes </button>
				    </div> <!-- form-group// -->   
				     {% endfor %}   
				</form>
			</article> 
			<!-- card-body end .// -->

		</div> <!-- col.//-->
	
	</div> <!-- row.//-->

	
              <!-- /.card-body -->
            </div>


</div> 
<!--container end.//-->
{% else %}
<div class="alert alert-danger" role="alert">
		<h6 style="color:yellow"><b>The Account is currently being verified by the Admin.
			In case of urgency, contact the Admin.<br><span style="color:black">Thank You for your co-operation!</span></b></h6>
		</div>
		{% endif %}
		{% endif %}

{% endblock %}