{% extends 'home/base.html' %}
{% block content %}
{% if message %}
	<div class="alert alert-info" role="alert">
	  {{message}} 
	</div>
{% endif %}
<div class="container">
	<br>
	<div class="row">
		<div class="col-md-6">
			<div class="card">
			<header class="card-header">
				<h4 class="card-title mt-2">EDIT PRODUCT</h4>
			</header>
			<article class="card-body">
				<form action="/product/routeproduct/" method="post">
					{% csrf_token %}
					<div class="form-group">
						  <label>Select Product To edit</label>
						  <select id="inputState" class="form-control" name="product_list" required="">
						      <option disabled selected>select product</option>
						      {%for data in all_products %}
						      <option>{{data.product_name}}</option>
						      {% endfor %}
						  </select>
						</div>
					<div class="form-row">
						<div class="col form-group">
							<label>Product name </label>   
						  	<input type="text" class="form-control" placeholder="Enter new Product Name (if any) leave blank if same name" name="product_name" >
						</div> <!-- form-group end.// -->
					</div><!-- form-row end.// -->
					<div class="form-row">
						<div class="form-group col-md-6">
						  <label>Product Category</label>
						  <select id="inputState" class="form-control" name="product_category" required="">
						  	 <option disabled selected>select</option>
						      <option>electronics</option>
						      <option>stationery</option>
						      <option>others</option>
						  </select>
						</div> <!-- form-group end.// -->
						<div class="form-group col-md-6">
						  <label>Product Type</label>
						  <select id="inputState" class="form-control" name="product_type" required="">
						  	 <option disabled selected>select</option>
						      <option>consumable</option>
						      <option>non-consumable</option>
						     
						  </select>
						</div> <!-- form-group end.// -->
					 </div>
					<div class="form-group">
						<label>Available quantity</label>
						<input type="number" class="form-control" placeholder="Enter the available qunatity" name="avail_quantity" required="">
					</div> <!-- form-group end.// -->
					<div class="form-group">
						  <label>Measurement Unit</label>
						  <select id="inputState" class="form-control" name="measure_unit" required="">
						  	 <option disabled selected>select</option>
						      <option>kilogram</option>
						      <option>metres</option>
						      <option>inches</option>
						      <option>units</option>
						  </select>
						</div>
						 <!-- form-group end.// -->	
								
					  
				    <div class="form-group">
				        <button type="submit" class="btn btn-primary btn-block"> Make Changes </button>
				    </div> <!-- form-group// -->      
				</form>
			</article> 
			<!-- card-body end .// -->

		</div> <!-- col.//-->
	
	</div> <!-- row.//-->

	  <div class="card" style="margin-left: 30px;margin-bottom: auto;">
	  	<div class="card-header">
                <h3 class="card-title" style="color:blue"><b>Products Already Present</b></h3>
              </div>
 <div class="card-body p-2">
                <table class="table">
                  <thead>
                    <tr>
                     
                      <th>Product</th>
                      <th>Quantity</th>
                     </tr>
                  </thead>
                  <tbody>
                  	{% for data in all_products %}
                    <tr>
                     <td>{{data.product_name}}
                     <td>{{data.available_quantity}}</td>	
                    </tr>
                    {% endfor %}
                    
                    
                  </tbody>
                </table>
              </div>
          </div>
              <!-- /.card-body -->
            </div>
</div> 
<!--container end.//-->
{% endblock %}