{% extends 'home/base.html' %}
{% block content %}
{% if message %}
  <div class="alert alert-info" role="alert">
    {{message}}
  </div>
  {% endif %}
  {% if admin %}
  {% if verified %}
  <br><br>
  <div class="container">
     <h4 style="margin-bottom: 3%"><b>CONSUMABLE PRODUCTS</b></h4>


    <table class="table table-responsive" style="max-height:500px ;max-width: 80%;margin-bottom: 5%">
      <thead class="thead-light">
        <tr>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">PRODUCT TYPE</th>
          <th scope="col">AVAILABLE QUANTITY</th>
          <th scope="col">PRODUCT CATEGORY</th>
          <th scope="col">EDIT DETAILS</th>
        </tr>
      </thead>
      <tbody>
       {%for data in all_products %}
          <tr>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_name}}</h5></th>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_type}}</h5></th>
            <th scope="row" style="color:red;font-weight:normal;"><h5>{{data.available_quantity}}</h5></th>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_category}}</h5></th>
            <th scope="row" style="font-weight:normal;"> <a href="/product/edprod/{{data.product_name}}" class="btn btn-link btn-block" ><i class="fa fa-edit" style="margin-right: 10px"></i><b>Edit</b></a></th>
          </tr>
        {% endfor %}
      </tbody>
    </table>

           <h4 style="margin-bottom: 3%"><b>NON-CONSUMABLE PRODUCTS </b></h4>


    <table class="table table-responsive" style="max-height:500px ;max-width: 80%">
      <thead class="thead-light">
        <tr>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">PRODUCT TYPE</th>
          <th scope="col">AVAILABLE QUANTITY</th>
          <th scope="col">PRODUCT CATEGORY</th>
          <th scope="col">EDIT DETAILS</th>
        </tr>
      </thead>
      <tbody>
       {%for data in noncon_product %}
          <tr>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_name}}</h5></th>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_type}}</h5></th>
            <th scope="row" style="color:red;font-weight:normal;"><h5>{{data.available_quantity}}</h5></th>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_category}}</h5></th>
            <th scope="row" style="font-weight:normal;"> <a href="/product/edprod/{{data.product_name}}" class="btn btn-link btn-block" ><i class="fa fa-edit" style="margin-right: 10px"></i><b>Edit</b></a></th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
      </div>
      {% else %}
      <div class="alert alert-danger" role="alert">
    <h6 style="color:yellow"><b>The Account is currently being verified by the Admin.
      In case of urgency, contact the Admin.<br><span style="color:black">Thank You for your co-operation!</span></b></h6>
    </div>
{% endif %}
{% endif %}
{% if dealing_admin %}
  {% if verified %}
  <br><br>
  <div class="container">
     <h4 style="margin-bottom: 3%"><b>CONSUMABLE PRODUCTS</b></h4>


    <table class="table table-responsive" style="max-height:500px ;max-width: 80%;margin-bottom: 5%">
      <thead class="thead-light">
        <tr>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">PRODUCT TYPE</th>
          <th scope="col">AVAILABLE QUANTITY</th>
          <th scope="col">PRODUCT CATEGORY</th>

        </tr>
      </thead>
      <tbody>
       {%for data in all_products %}
          <tr>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_name}}</h5></th>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_type}}</h5></th>
            <th scope="row" style="color:red;font-weight:normal;"><h5>{{data.available_quantity}}</h5></th>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_category}}</h5></th>

          </tr>
        {% endfor %}
      </tbody>
    </table>

           <h4 style="margin-bottom: 3%"><b>NON-CONSUMABLE PRODUCTS </b></h4>


    <table class="table table-responsive" style="max-height:500px ;max-width: 80%">
      <thead class="thead-light">
        <tr>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">PRODUCT TYPE</th>
          <th scope="col">AVAILABLE QUANTITY</th>
          <th scope="col">PRODUCT CATEGORY</th>

        </tr>
      </thead>
      <tbody>
       {%for data in noncon_product %}
          <tr>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_name}}</h5></th>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_type}}</h5></th>
            <th scope="row" style="color:red;font-weight:normal;"><h5>{{data.available_quantity}}</h5></th>
            <th scope="row" style="font-weight:normal;"><h5>{{data.product_category}}</h5></th>

          </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
      </div>
      {% else %}
      <div class="alert alert-danger" role="alert">
    <h6 style="color:yellow"><b>The Account is currently being verified by the Admin.
      In case of urgency, contact the Admin.<br><span style="color:black">Thank You for your co-operation!</span></b></h6>
    </div>
{% endif %}
{% endif %}
        {% endblock %}
