{% extends 'home/base.html' %}
{% block content %}
{% if message %}
  <div class="alert alert-info" role="alert">
    {{message}}
  </div>
  {% endif %}
  <br><br>
  <div class="container">
     <h4 style="margin-bottom: 3%"><b>CONSUMABLE PRODUCTS</b></h4>


    <table class="table table-responsive" style="max-height:500px ;max-width: 80%;margin-bottom: 5%">
      <thead class="table-dark">
        <tr>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">PRODUCT TYPE</th>
          <th scope="col">AVAILABLE QUANTITY</th>
          <th scope="col">PRODUCT CATEGORY</th>
          <th scope="col">EDIT DETAILS</th>
        </tr>
      </thead>
      <tbody>
       {%for data in all_products %}
          <tr>
            <th scope="row"><h5><b>{{data.product_name}}</b></h5></th>
            <th scope="row"><h5><b>{{data.product_type}}</b></h5></th>
            <th scope="row" style="color:red"><h5><b>{{data.available_quantity}}</b></h5></th>
            <th scope="row"><h5><b>{{data.product_category}}</b></h5></th>
            <th scope="row"> <a href="/product/edprod/{{data.product_name}}" class="btn btn-link btn-block" ><i class="fa fa-edit" style="margin-right: 10px"></i><b>Edit</b></a></th>
          </tr>
        {% endfor %}
      </tbody>
    </table>

           <h4 style="margin-bottom: 3%"><b>NON-CONSUMABLE PRODUCTS </b></h4>


    <table class="table table-responsive" style="max-height:500px ;max-width: 80%">
      <thead class="table-dark">
        <tr>
          <th scope="col">PRODUCT NAME</th>
          <th scope="col">PRODUCT TYPE</th>
          <th scope="col">AVAILABLE QUANTITY</th>
          <th scope="col">PRODUCT CATEGORY</th>
          <th scope="col">EDIT DETAILS</th>
        </tr>
      </thead>
      <tbody>
       {%for data in noncon_product %}
          <tr>
            <th scope="row"><h5><b>{{data.product_name}}</b></h5></th>
            <th scope="row"><h5><b>{{data.product_type}}</b></h5></th>
            <th scope="row" style="color:red"><h5><b>{{data.available_quantity}}</b></h5></th>
            <th scope="row"><h5><b>{{data.product_category}}</b></h5></th>
            <th scope="row"> <a href="/product/edprod/{{data.product_name}}" class="btn btn-link btn-block" ><i class="fa fa-edit" style="margin-right: 10px"></i><b>Edit</b></a></th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
      </div>
        {% endblock %}
