{% extends 'home/base.html' %}
{% block content %}
{% if messages %}
	<div class="alert alert-info" role="alert">
	  {{messages}}
	</div>
{% endif %}
{% if verified %}
<div class="container">
	<br>
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
			<header class="card-header">
				<h4 class="card-title mt-2">Request for products</h4>
			</header>
			<article class="card-body">
				<form action="/product/requestproduct/" method="post">
					{% csrf_token %}
					<!-- form-row end.// -->
					<div class="form-row">
						<div class="col form-group">
						  <label>Product</label>
						  <select id="inputState" class="form-control" name="product_category" placeholder="select product" required="">
						  	<option disabled selected value="">Select Products</option>
                              {% for data in all_products %}
						      <option>{{data.product_name}}</option>
                               {% endfor %}
						  </select>
						</div> <!-- form-group end.// -->

					 </div>
					 <div class="form-row">
						<div class="col form-group">
							<label>Product Quantity you wish to get </label>
						  	<input type="number" class="form-control" placeholder="Enter Quantity" name="quantity" required="">
						</div>
					</div>

				    <div class="form-group">
				        <button type="submit" class="btn btn-primary btn-block"> Request for product </button>
				    </div> <!-- form-group// -->
				</form>
			</article>
		</div>

	</div>
	<div class="card" style="margin-left: 30px;margin-bottom: auto;">
		<div class="card-header">
                <h3 class="card-title" style="color:blue"><b>Products Already Present</b></h3>
              </div>
 <div class="card-body p-2">
                <table class="table">
                  <thead>
                    <tr>

                      <th>Product</th>
                      <th>Quantity</th>
                     </tr>
                  </thead>
                  <tbody>
                  	{% for data in all_products %}
                    <tr>
                     <td>{{data.product_name}}
                     <td>{{data.available_quantity}}</td>
                    </tr>
                    {% endfor %}


                  </tbody>
                </table>
              </div>
          </div>
</div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    <h6 style="color:yellow"><b>The Account is currently being verified by the Admin.
      In case of urgency, contact the Admin.<br><span style="color:black">Thank You for your co-operation!</span></b></h6>
    </div>
{% endif %}

{% endblock %}
